<div class="main-wrapper">
    <div class="list-wrapper">
        <p class="list-title">ნავიგაცია</p>
        <ul class="list-box">
            <li class="li">მთავარი</li>
            <li class="li">კალათა</li>
            <li class="li">გახდი პარტნიორი</li>
        </ul>
    </div>
    <div class="list-wrapper">
        <p class="list-title">დახმარება</p>
        <ul class="list-box">
            <li class="li">დახმარების ცენტრი</li>
            <li class="li">0322983954</li>
            <li class="li">info&#64;swoop.ge</li>
            <li class="li">ანონიმური უკუკავშირი</li>
        </ul>
    </div>
    <div class="list-wrapper" style="display: flex; align-items: end;justify-content: space-between;width: 300px;" >
        <div>
            <p class="list-title">კატეგორიები</p>
        <ul class="list-box">
            <li class="li">კინო</li>
            <li class="li">გართობა</li>
            <li class="li">საბავშვო</li>
            <li class="li">ესთეტიკა</li>
            <li class="li">კურსები</li>
        </ul>
        </div>
        <ul class="list-box">
            <li class="li">დასვენება</li>
            <li class="li">კვება</li>
            <li class="li">სპორტი</li>
            <li class="li">ჯანმრთელობა</li>
            <li class="li">ცხოველები</li>
        </ul>
    </div>

    <div class="list-wrapper">
        <p class="list-title">სტატისტიკა</p>
        <ul class="list-box">
            <li class="li">წლიური დანაზოგი</li>
            <strong >1,193,663.20 ₾</strong>
            <li class="li">აქტიური შეთავაზებები</li>
            <strong >2872</strong>
            <li class="li">წლიური გაყიდვები</li>
            <strong>153735</strong>
        </ul>
    </div>
</div>