.image{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.product-wrapper{
    max-width: 300px;
    width: 100%;
}
.main-wrapper{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.products-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}
.prod-wrapper{
    width: 75%;
}
.filters-wrapper{
    width: 20%;
}
*{
    list-style: none;
}
li{
    text-align: start;
}
.title{
    font-weight: bold;
    margin-top: 40px;
    font-size: 15px;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 20px;
}
.filter-wrapper{
    margin-top: 10px;
}
.filter-value{
    margin-top: 20px;
}
.left{
    margin-left: 10px;
}
.router-wrapper{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.title-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 20px;
}
.head{
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
}
.product-title{
    font-weight:600;
    font-size: 14px;
    margin-top: 10px;
}
.product-desc{
    font-size: 14px;
    color: rgb(54, 54, 54);
    margin-top: 10px;
    width: 90%;
}
.product-price-box{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.sale-box{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 110, 110);
    font-weight: bold;
}
.no-items{
    margin: 0 auto;
    margin-top: 30px;
    width: 300px;
}